<div class="container">
  <h1>Tweet Something!</h1>
  <form action="/" method="post">
    <label for="tweet">Tweet: </label>
    <input name="tweet" type="text">
    <input type="submit" value="Submit" id="submit">
    <img src="/images/ajax-loader.gif" id="wait">
  </form>
</div>
